@font-face {
    font-family: 'Work Sans';
    src: url('../Fonts/WorkSans-Regular.woff2') format('woff2'),
        url('../Fonts/WorkSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Fonts/WorkSans-Bold.woff2') format('woff2'),
        url('../Fonts/WorkSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../Fonts/WorkSans-SemiBold.woff2') format('woff2'),
        url('../Fonts/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



// @font-face {
//     font-family: 'Brigends Expanded Regular';
//     font-style: normal;
//     font-weight: normal;
//     src: local('../Fonts/Brigends Expanded Regular'), url('../Fonts/BrigendsExpanded-nReK1.woff') format('woff');
// }

@font-face {
    font-family: 'Brigends Expanded';
    src: url('../Fonts/BrigendsExpanded.woff2') format('woff2'),
        url('../Fonts/BrigendsExpanded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Brigends Expanded';
//     src: url('../Fonts/BrigendsExpanded.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }


