.bode{

    header.header{
        
        height: var(--header-height);
        position: fixed;
        width: 100%;
        left: 0px;
        top: 0px;
        z-index: 300;
        background-color: white;
        @include transition(all 0.5s ease 0s);
        margin-top: 0px;

        @media screen and (max-width: ($md - 1px)){
            & > .main-wrap{
                & > .container-fluid{
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }

        &.menu-open{
            margin-top: 100vh;
        }
        &.header-onscroll-hidden{
            top: -60px;
            
            @media screen and (min-width: $md) {
                top: -102px;
            }
            
        }
        .header-search-form{
            position: relative;
            .text-input{
                font-size: 16px;
                width: 390px;
                height: 48px;
                @include border-radius(24px);
                background-color: var(--site-grey-type-1);
                border: none;
                padding: 0 50px 0 26px;
                color: var(--site-primary-color);

                &::placeholder{
                    opacity: 1;
                    color: var(--site-primary-color);
                }
            }

            .search-submit{
                position: absolute;
                right: 0px;
                width: 50px;
                height: 100%;
                border: none;
                background: url(../Images/header-search.svg) no-repeat center center;
                background-size: 18px;
                cursor: pointer;
                padding: 0px;
            }
        }

        .nav-hmbg{
            width: 57.8px;
            height: 12.1px;
            cursor: pointer;
            position: relative;

            &:hover{
                span{
                    transform: skew(0deg);
                    width: 57.8px;
                    background-color: var(--site-primary-color-light);
                }
            }

            span{
                width: 55px;
                height: 3.1px;
                position: absolute;
                display: block;
                background-color: var(--site-primary-color);
                transform: skew(-30deg);
                @include transition(all 0.2s ease 0s);

                &:first-child{
                    top: 0px;
                    right: 0px;
                }

                &:last-child{
                    bottom: 0px;
                    left: 0px;
                }
            }
        }
    }

    .site-mega-menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 60;
        background-color: white;
        padding: 104px 20px 20px 20px;
        left: 0px;
        top: 0px;
        visibility: hidden;
        pointer-events: none;

        @media screen and (max-height: 720px){
            padding-top: 50px;
        }

        &.animated{
            -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
        }

        .main-menu-wrap{
            height: 100%;
            @include border-radius(15px);
            background-color: var(--site-primary-color-light);
            background-image: url(../Images/site-mega-menu-bg.svg);
            background-repeat: no-repeat;
            background-position: right top;
            background-size: 609px;
            padding: 60px 0;
            position: relative;

            .global-centered-rounded-action-button{
                & + .attch-row-grid{
                    overflow: auto;
                    max-height: 80vh;

                    /* width */
                    &::-webkit-scrollbar {
                        width: 0px;
                    }
                    
                    /* Track */
                    &::-webkit-scrollbar-track {
                        box-shadow: none; 
                        border-radius: 0px;
                    }
                    
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: transparent; 
                        border-radius: 10px;
                        opacity: 0.3;
                    }
                    
                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: transparent; 
                    }
                }
            }

            @media screen and (max-height: 720px){
                padding: 20px 0;
            }
        }

        .mega-menu-quick-link{
            padding: 0 95px;

            ul{
                list-style: none;
                margin: 0px;
                padding: 0px;

                li{
                    margin: 30px 0 0 0;
                    padding: 0px;
                    font-size: 35px;
                    letter-spacing: 0.35px;
                    font-weight: var(--site-primary-font-Semibold);
                    color: white;
                    line-height: normal;

                    &:hover, &.active{
                        & > a{
                            color: var(--site-secondary-color);
                        }
                    }

                    &:first-child{
                        margin-top: 0px;
                    }

                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }

        .mega-menu-main-link{
            &.on-view{
                & > ul{
                    & > li{
                        & > a{
                            left: 0px;
                            opacity: 1;
                        }
                    }
                }
            }
            ul{
                list-style: none;
                margin: 0px;
                padding: 0px;

                li{
                    margin: 40px 0 0 0;
                    padding: 0 95px 0 0;
                    font-size: 50px;
                    letter-spacing: 0.5px;
                    font-weight: var(--site-primary-font-Semibold);
                    color: white;
                    line-height: normal;
                    text-align: right;

                    
                    

                    &:nth-child(1){
                        & > a{
                            @include transition(all 0.3s ease 0s);
                        }
                    }

                    &:nth-child(2){
                        & > a{
                            @include transition(all 0.6s ease 0s);
                        }
                    }

                    &:nth-child(3){
                        & > a{
                            @include transition(all 0.9s ease 0s);
                        }
                    }

                    &:nth-child(4){
                        & > a{
                            @include transition(all 1s ease 0s);
                        }
                    }

                    &:nth-child(5){
                        & > a{
                            @include transition(all 1.3s ease 0s);
                        }
                    }

                    &:nth-child(6){
                        & > a{
                            @include transition(all 1.6s ease 0s);
                        }
                    }

                    &:nth-child(7){
                        & > a{
                            @include transition(all 1.9s ease 0s);
                        }
                    }

                    &:nth-child(8){
                        & > a{
                            @include transition(all 2.2s ease 0s);
                        }
                    }

                    &:hover, &.active{
                        & > a{
                            color: var(--site-secondary-color);
                        }
                    }

                    &:first-child{
                        margin-top: 0px;
                    }

                    a{
                        color: white;
                        text-decoration: none;
                        display: block;
                        display: block;
                        position: relative;
                        left: 50px;
                        opacity: 0;
                    }
                }
            }
        }
    }
    
    
}

