.hotspot-module{
  max-width: 87%;
  margin: 0 auto;


  @media screen and (min-width: $xxl){
    max-width: 1190px;
  }

  .cursor{
    display: none;
  }

  &:hover{
    .cursor{
      display: block;
    }
  }

    .common{
        cursor: default;
        z-index: 3;
      }
      .antrieb{
        cursor: none;
        position: relative;
        display: block;
        & > .container{
          max-width: inherit;
          padding: 0px;
        }
      }
      .antrieb-image{
        position: relative;

        img{
          width: 100%;
          height: auto;
        }
      }
      
      /* magnet mouse */
      .cursor {
        cursor: none;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        background: #D2FF75;
        position: absolute;
        top: 50%;
        left: 10%;
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
        z-index: 2;
        box-shadow: rgba(0,0,0,0.2) 0 0 10px;
      }
      
      /* Green Tri Small */
      .target {
        border-radius: 100%;
        position: absolute;
        width: 84px;
        height: 84px;
        border: solid 3px transparent;
        text-align: center;
        padding: 8px;
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
        transform: translate(-50%, -50%) rotate(0deg);
        z-index: 3;
        transition: all ease 0.2s;
      }
      .target.active{
        border-color: var(--site-secondary-color);
      }
      
      .target .text{
        font-weight: var(--site-primary-font-Semibold);
        width: 100%;
        height: 100%;
        background: var(--site-secondary-color);
        border-radius: 100%;
        padding: 0;
        margin: 0;
        font-size:27px;
        line-height: 62px;
      }
      
      /* card */
      .cards {
        position: relative;
        left: -40%;
      }
      .cards_inner {
        perspective: 800px;
      }
      .cards_inner .wrap {
        margin: 0 auto;
        position: relative;
        transform-style: preserve-3d;
      }
      .cards_inner .invalid {
        pointer-events: none;
        top: 180px !important;
        opacity: 0;
        transition: all 0.23s;
      }
      .cards_inner .animate {
        transition: all 0.2s cubic-bezier(0.56, 2.15, 0.25, 0.715);
      }
      .cards_inner .card_in {
        opacity: 0;
        transform: scale(1);
        margin-top: 40px;
        -webkit-animation: pop 0.6s 0.1s cubic-bezier(0.56, 1.75, 0.25, 0.715);
                animation: pop 0.6s 0.1s cubic-bezier(0.56, 1.75, 0.25, 0.715);
        right: 0;
      }
      @-webkit-keyframes pop {
        0% {
          margin-top: 40px;
          opacity: 0;
        }
        100% {
          margin-top: 0px;
          opacity: 1;
        }
      }
      @keyframes pop {
        0% {
          margin-top: 40px;
          opacity: 0;
        }
        100% {
          margin-top: 0px;
          opacity: 1;
        }
      }
      .cards_inner .card_in_two {
        opacity: 1;
        transform: scale(1);
        margin-top: 40px;
        transition: all 0.2s cubic-bezier(0.56, 2.15, 0.25, 0.715);
        margin-top: 0px;
      }
      .cards_inner__card {
        transition: transform 0.2s cubic-bezier(0.56, 2.15, 0.25, 0.715);
        position: absolute;
        margin-top: 0px;
        left: 0;
        right: 0;
        background: -moz-linear-gradient(top, white 0%, #f7f7f7 100%);
        top: 50%;
        margin: auto;
        // width: 320px;
        // height: 200px;
        background: -webkit-linear-gradient(top, white 0%, #f7f7f7 100%);
        border-radius: 20px;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.22);
        padding: 15px 40px 85px 40px;

        .basic-entry{
          h1, h2, h3, h4, h5, h6{
            margin-bottom: 25px;
          }
        }
      }
      .cards_inner__card .card-no{ text-align:right; margin-bottom: 135px; font-weight: var(--site-primary-font-Semibold); font-size: 27px;}
      .cards_inner__card:nth-of-type(1) {
        top: 45px;
        transform: translateZ(-60px);
      }
      .cards_inner__card:nth-of-type(2) {
        top: 30px;
        transform: translateZ(-120px);
        opacity: 0.4;

        .card-no{
          visibility: hidden;
        }
      }
      .cards_inner__card:nth-of-type(3) {
        top: 15px;
        transform: translateZ(-180px);
        opacity: 0.4;

        .card-no{
          visibility: hidden;
        }
      }
}




