// from lg to all lower
@media screen and (max-width: $lg){
  
}

// from lg to md
@media screen and (max-width: $lg) and (min-width: $md){
    .bode{

        // basic
        .box-left-right-responsive-pad-from-lg-to-md{
            padding-left: 20px;
            padding-right: 20px;
        }
        // basic

        // image with content card
        .image-with-content-card-module{
            .content-part{
                width: 55%;
            }
        }
        // image with content card


        // product-detail-with-slider-module
        .product-detail-with-slider-module{
            .product-detail-sync-slider{
                .slider-nav{
                    .slick-slide{
                        & > div{
                            aspect-ratio: 1/1;
                        }
                    }

                    .slider-element{
                        img{
                            max-width: 60px;
                            max-height: 60px;
                        }
                    }
                }
            }
        }
        // product-detail-with-slider-module
    }
}

// from mobile to the rest
@media screen and (max-width: ($md - 1px)){
    .bode{
        padding-top: var(--header-height-mobile);

        // basic

        .section-padding-tiny{
            &.mobile-tiny{
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        .row{
            &.mobile-attach-row{
                margin-left: 0px !important;
                margin-right: 0px !important;

                & > .my-col{
                    padding-left: 0px !important;
                    padding-right: 0px !important;

                    &.column-inset-padding-mobile-special-mini{
                        padding-left: 10px !important;
                        padding-right: 10px !important;
                    }
                }
            }
        }

        .column-inset-padding-mobile-special-mini{
            padding-left: 10px !important;
            padding-right: 10px !important;
        }

        .inset-left-right-no-mobile{
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .no-box-radius-mobile{
            @include border-radius(0px !important);
        }

        .element-gap{
            &.element-gap-type-1{
                margin-bottom: 40px;
            }
            &.element-gap-type-2{
                margin-bottom: 65px;
            }
        }
        
        .mobile-no-uplift{
            padding-top: 0px !important;
            margin-top: 0px !important;
        }
        .mobile-griding-type-1{
            &.my-row{
                margin-left: -10px;
                margin-right: -10px;
                row-gap: 35px;

                & > .my-col{
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            &.has-mobile-col-separator{
                & > .my-col{
                    padding-bottom: 35px;
                    border-bottom: 1px solid;
                }
            }
        }

        .mobile-griding-type-2{
            &.my-row{
                margin-left: -5px;
                margin-right: -5px;
                row-gap: 10px;

                & > .my-col{
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
        .my-row{
            &.sm-grid{
                row-gap: 15px;
            }
        }
        .section-padding-lg{
            padding-top: 75px;
            padding-bottom: 75px;
        }
        .section-padding-default{
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .mobile-section-uplift-type-1{
            margin-top: -70px;
        }
        .mobile-overflow-x-hidden{
            overflow-x: hidden;
        }
        .default-coumn-gap{
            &.responsive-mobile-deafult-column-gap{
                column-gap: 20px;
            }
        }

        .default-inset-left-right{
            &.responsive-mobile-view{
                padding-left: 10px;
                padding-right: 10px;

                & > .curve-link.type-3-back{
                    left: 10px;
                }
            }
        }
        .mobile-container-gutter-minimum{
            padding-left: 10px;
            padding-right: 10px;
        }
        .container, .container-fluid{
            padding-left: 30px;
            padding-right: 30px;

            &.mobile-inset-padding-sm{
                padding-left: 10px;
                padding-right: 10px;
            }
            &.mobile-inset-padding-medium{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        // basic

        // cover-bg-content-module
        .cover-bg-content-module{
            &.set-back{
                background-position: center top;
            }
            .the-content{
                & > .main-wrap{
                    &.basic-entry{
                        h1{
                            font-size: 30px;
                            line-height: 41px;
                        }
                    }
                }
            }
        }
        // cover-bg-content-module
        

        // sliding-card-module-text-tile-view
        .sliding-card-module-text-tile-view{
            .slidings-tiles{
                &.type-1{
                    left: initial;

                    & > .my-row{
                       

                        & > .my-col{
                           
                            margin-top: 10px;

                            &:nth-child(2){
                                margin-top: 60px;
                            }
                        }
                    }

                    .my-col{
                        & > .main-wrap{
                            padding: 30px;
                            font-size: 16px;
                            line-height: 22px;
                        }
                    }
                }
                &.type-2{
                    .my-col{
                        margin-top: 10px;
                        &:nth-child(2){
                            margin-top: 10px;
                        }
                        & > .main-wrap{
                            .overlay-content{
                                .text-holder{
                                    padding: 20px;
                                }
                                &.basic-entry{
                                    h1{
                                        font-size: 25px;
                                        line-height: 30px;
                                    }
                                }
                            }
                        }
                    }
                }

                &.type-3{
                    &.view-3{
                        .grid-item{
                            &:nth-child(2n+1){
                                & > .main-wrap{
                                    margin-right: auto;
                                }
                            }

                            & > .main-wrap{
                                max-width: 186px;
                                margin-left: auto;

                                .basic-entry{
                                    h6{
                                        font-size: 12px;
                                        line-height: 18px;
                                    }
                                }
                            }
                        } 
                    }
                    .grid-item{
                        
                        & > .main-wrap{
                            padding: 50px 20px 20px 20px;
                           
                            &.view-two{
                                padding: 0 20px 15px 20px;
                            }
                            
                        }
                    }
                }
            }
        }
        // sliding-card-module-text-tile-view

        

        // special-header
        .special-header{
            .mobile-right-pad-type-1{
                padding-right: 30px;
            }
            .right-pad-type-1{
                padding-right: 0px;
            }
            .right-pad-type-2{
                padding-right: 25px;
            }
            h1{
                font-size: 35px;
                line-height: 47px;
            }
        }
        // special-header
        

        // curved-module-header
        .curved-module-header{
            &.pos-left-top{
                .main-part{
                    @include border-radius(0 0 15px 0);
                }

                &:after{
                    right: -19px;
                }
            }
            .main-part{
                padding: 8px 20px 8px 10px;
            }
        }
        // curved-module-header

        // page-curved-header
        .page-curved-header{
            &:after{
                right: -14px;
            }
            .main-header-part{
                padding: 22px 30px 22px 20px;
                @include border-radius(0 35px 0 0);
            }
            .basic-entry{
                h1{
                    font-size: 22px;
                    line-height: 30px;
                }
            }
        }
        // page-curved-header

        
        

        // curve link
        .curve-link{
            font-size: 11px;
            &.type-3-back{
                min-width: 59.99px;
                background-size: 59.99px;
                padding-top: 16px;
                padding-bottom: 32px;
                padding-left: 70px;

                span{
                    width: 40px;
                    height: 40px;

                    &:before{
                        background-size: 12.67px;
                    }
                }
            }
            &.typo-2{
                font-size: 13px;
            }
            span{
                width: 40px;
                height: 40px;
                right: 0px;
                bottom: 0px;
                &::before{
                    background-size: 12.67px;
                }
            }
            &.type-1, &.type-2{
                min-width: 59.99px;
                background-size: 59.99px;
                padding-right: 57.99px;
                padding-top: 32px;
                padding-bottom: 16px;
            }
        }
        // curve link

        .site-btn{
            font-size: 13px;
            padding: 8.5px 27px;

            &.sm{
                font-size: 11px;
                padding: 10px 20px;
                @include border-radius(18px);
            }
        }

        // typo graphy
        .basic-entry{
            .site-content-table{
                td{
                    font-size: 12px;
                    line-height: normal;
                    padding-left: 0px;
                }
            }
            &.module-header{
                h3{
                    font-size: 22px;
                    line-height: 30px;
                }
            }
            h1{
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 20px;
            }

            h2{
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 20px;
            }

            h3{
                font-size: 22px;
                line-height: 30px;
                margin-bottom: 20px;
            }

            h4{
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 20px;
            }

            h5{
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 20px;
            }

            p, li{
                font-size: 13px;
                line-height: 22px;
                margin-bottom: 20px;

                &.normal-lg{
                    font-size: 15px;
                    line-height: 24px;
                }

                &.lg-para{
                    font-size: 16px;
                    line-height: 28px;
                    margin-bottom: 20px;
                    letter-spacing: initial;
                }

                &.extra-lg{
                    font-size: 18px;
                    line-height: 26px;
                }
            }
        }
        // typo graphy

        // header
        header.header{
            height: var(--header-height-mobile);

            & > .main-wrap{
                position: relative;
            }

            .mobile-search-trigger{
                width: 17.03px;
                height: 17.35px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: left top;
                cursor: pointer;
                background-image: url(../Images/header-search.svg);

                &.active{
                    background-image: url(../Images/close-primary.svg);
                }
            }

            .header-search-form{
                position: absolute;
                width: 100%;
                left: 0px;
                padding: 0 20px;
                top: 40px;
                display: none;

                .search-submit{
                    right: 20px;
                }

                .text-input{
                    width: 100%;
                    height: 40px;
                }
            }

            .site-logo{
                img{
                    max-width: 102px;
                }
            }

            .nav-hmbg{
                width: 50px;
                height: 10px;
            }
        }
        // header

        // site mega menu
        .site-mega-menu{
            padding: 30px 10px 10px 10px;

            .site-menu-column-holder{
                height: auto !important;
            }

            .global-centered-rounded-action-button{
                width: 62.06px;
                height: 61.52px;
                left: inherit;
                right: 0px;
                top: 0px;

                .the-trigger.type-1{
                    width: 62.06px;
                    height: 49.03px;
                    background-image: url(../Images/mobile-site-mega-menu-close-corner.svg);
                    background-repeat: no-repeat;
                    background-position: left bottom;
                    background-size: 62.06px;
                    align-items: flex-start;

                    span{
                        width: 40px;
                        height: 40px;
                        margin-left: auto;
                        margin-right: initial;
                        position: relative;
                        top: -12px;

                        &:before{
                            background-size: 13.83px;
                        }
                    }
                }
            }

            .main-menu-wrap{
                background-image: url(../Images/mobile-site-menu-bg.svg);
                background-position: left bottom;
                background-size: contain;
                padding: 60px 0 20px 0;
            }

            .mega-menu-main-link{
                ul{
                    li{
                        padding-right: 30px;
                        font-size: 29px;
                        line-height: normal;
                        margin-top: 15px;
                    }
                }
            }

            .quick-link-col{
                margin-left: auto;
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: 0px;
                
                & > .main-wrap{
                    padding: 30px 30px 20px 30px;
                }

                .site-tab-group-btn{
                    vertical-align: bottom;
                }
            }

            .mega-menu-quick-link{
                padding: 0 0 15px 0;
                margin-left: auto;
                text-align: right;
                &:last-child{
                    padding-bottom: 0px;
                }
                ul{
                    li{
                        font-size: 16px;
                        line-height: normal;
                        color: var(--site-grey-type-1);
                        margin-top: 18px;

                        & > a{
                            color: var(--site-grey-type-1);
                        }
                    }
                }
            }
        }
        // site mega menu

        // product-detail-with-slider-module
        .product-detail-with-slider-module{
            .product-info-card{
                padding: 30px 20px;

                .product-title{
                    padding: 0px;
                    margin-bottom: 30px;
                }
            }
            .product-detail-sync-slider{
                .slider-for{
                    background-size: contain;
                    background-position: center bottom;
                    padding-bottom: 60px;

                    img{
                        max-width: 240px;
                    }
                }
                .slider-nav{
                    max-width: inherit;
                    margin: 0px;
                    .slick-list{
                        min-height: 80px;
                        width: 312px;
                        margin: 0 auto;
                    }
                    .slider-element{
                        border-width: 2px;

                        img{
                            max-width: 43px;
                            max-height: 53px;
                        }

                        .thumb-holder{
                            padding: 0px;
                        }
                    }
                    .slick-slide{
                        padding: 0 5px;

                        & > div{
                            aspect-ratio: 1/1;
                        }
                    }
                }
            }
        }
        // product-detail-with-slider-module


        

        // banner-module
        .banner-module{
            .banner-image-module{
                &.set-back{
                    background-position: center center;
                }
            }
            &.start{
                height: calc(100vh - (var(--header-height-mobile)));
            }
            .banner-water-mark{
                & > .main-wrap{
                    & > img{
                        max-width: 310px;
                        margin-left: auto;
                        margin-right: initial;
                    }
                }
            }
        }
        // banner-module

        // measure-card-module
        .measure-card-module{
            .measure-card-header{
                margin-bottom: 0px;
            }
            .the-card{
                &.has-link{
                    & > a{
                        padding-top: 10px;
                    }
                    .measure-card-info{
                        padding-bottom: 48px;
                    }
                }
            }
            
            .measure-card-header{
                font-size: 13px;
                line-height: 18px;
            }
            .measure-card-info{
                .info-primary{
                    font-size: 16px;
                    line-height: 22px;
                }

                .info-secondary{
                    font-size: 13px;
                    line-height: 22px;
                }
            }
            &.type-mobile-slider{
                margin-top: 0px !important;
                & > .row{
                    margin-left: 0px;
                    margin-right: 0px;

                    & > .my-col{
                        padding-left: 0px;
                        padding-right: 0px;
                    }
                }

                .slick-list{
                    overflow: initial;
                }

                .slick-track{
                    margin-left: -5px;
                    margin-right: -5px;

                    .slick-slide{
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
        }
        // measure-card-module

        // image-with-content-card-module
        .image-with-content-card-module{
            &.d-flex{
                display: block !important;
            }
            .content-part{
                width: 100%;
                @include border-radius(15px 15px 0 15px);
                margin-top: -25px;
                padding: 60px 20px;

                &.has-curved-linked-bottom{
                    padding-bottom: 92px;
                }
            }
            .image-part{
                position: static;
                width: 100%;
                height: auto;
                @include border-radius(15px);
                overflow: hidden;

                &.set-back{
                    background: none !important;

                    & > img{
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        // image-with-content-card-module

        // overlay-card-module
        .overlay-card-module{
            .overlay-context{
                .basic-entry{
                    h3{
                        font-size: 18px;
                        line-height: 25px;
                    }

                    h1{
                        font-size: 34px;
                    }

                    &.mobile-typo-2{
                        h1{
                            font-size: 24px;
                            line-height: 34px;
                        }
                    }
                }
            }
            .video-card-wrapper{
                min-height: inherit;
                height: 100%;
                &::before{
                    display: none;
                }
            }
            .my-col{
                & > .main-wrap{
                    height: 684px;

                    &.mobille-auto-height{
                        height: auto;
                    }
                }
            }
        }
        // overlay-card-module

        // news-listing-module
        .news-listing-module{
            .main-wrap{
                padding: 0 10px 35px 10px;
                border-bottom: 1px solid;
            }
            .news-date{
                font-size: 13px;
            }
            .main-module{
                .my-col{
                    border-left: none;

                    &:last-child{
                        .main-wrap{
                            padding-bottom: 0px;
                            border-bottom: none;
                        }
                    }
                }
            }
        }
        // news-listing-module

        // special-iconic-input-box
        .special-iconic-input-box{
            .main-wrap{
                height: 40px;
            }

            .text-input{
                font-size: 13px;
                padding-left: 50px;
                padding-right: 20px;
            }

            .iconic-submit{
                width: 50px;
                background-size: 17.65px;
            }
        }
        // special-iconic-input-box

        // switcher-module
        .switcher-module{
            .site-tab-group-btn{
                .main-button{
                    font-size: 12px;
                    padding: 3px 13px;
                }
            }
        }
        // switcher-module

        // footer
        footer.footer{

            .footer-service-part{
                padding-top: 65px;
                padding-bottom: 25px;
                background-image: url(../Images/footer-bg-mobile.svg);
                background-color: var(--site-primary-color);
            }

            & > .container-fluid{
                padding-top: 10px;
                padding-bottom: 10px;
            }

            .copy-right-text{
                font-size: 13px;
            }

            .footer-navigation{
                & > .my-row{
                    row-gap: 18px !important    ;
                }
                .my-row{
                    row-gap: 35px;
                }
                .main-wrap{
                    text-align: center;
                }

                .footer-menu{
                    display: inline-block;

                    ul{
                        li{
                            font-size: 13px;
                        }
                    }
                }
            }

            .footer-social{
                margin-bottom: 75px;
                .my-row{
                    margin-left: -10px;
                    margin-right: -10px;

                    .my-col{
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
                img{
                   width: auto;
                   max-height: 22px;
                }
            }

            .footer-mail-box{
                margin-bottom: 55px;
            }

            .special-iconic-input-box{
                max-width: 230px;
                margin: 0 auto;
                .text-input{
                    width: 100%;
                }
            }

            .footer-info{
                .basic-entry{
                    p{
                        font-size: 13px;
                        line-height: 20px;
                    }
                }
            }

            .footer-logo{
                margin-bottom: 20px;
                & > .my-row{
                    row-gap: 25px;
                }
            }

            .footer-info{
                margin-bottom: 30px;
                .my-row{
                    row-gap: 20px;
                }
            }

            .site-logo{
                text-align: center;
                img{
                    max-width: 100px;
                    display: inline-block;
                }
            }

            .certificate-badge{
                text-align: center;

                img{
                    max-width: 52px;
                    display: inline-block;
                }
            }

            .footer-caption{
                font-size: 20px;
                line-height: 22px;
            }

            .footer-build{
                min-height: 222px;
            }

            .global-centered-rounded-action-button{
                top: -32px;
                .the-trigger{
                    &.up-arrow{
                        span{
                            &:before{
                                background-size: 16.56px;
                            }
                        }
                    }
                    &.type-1{
                        width: 94.31px;
                        height: 66.65px;
                        background-size: contain;
                        background-position: center center;
                    }
    
                    span{
                        width: 55.18px;
                        height: 55.18px;
                    }
                }
            }
        }
        // footer

        // switcher-module
        .switcher-module{
            &.tab-switcher-style-main{
                .site-tab-group-btn{
                    .main-button{
                        font-size: 11px;
                        line-height: 16px;
                        padding: 7px;
                        @include border-radius(30px);
                        letter-spacing: 3px;
                    }
                }
            }
        }

        // tab-filter-slider-module
        .tab-filter-slider-module{

            .product-first-view{
                padding-bottom: 20px;
                .product-bild{
                    text-align: center;

                    img{
                        display: inline-block;
                        max-width: 220px;
                        width: inherit;
                    }
                }
                .product-title{
                    font-size: 22px;
                    line-height: 30px;
                }

                .product-excerpt{
                    margin-bottom: 0px;
                }

                .product-sub-title{
                    margin-bottom: 20px;
                    h4{
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }

            .tab-nav-group{
                margin-bottom: 40px;
            }

            .the-slider{
                .counter{
                    font-size: 13px;
                    line-height: 16px;
                }

                .slider-nav{
                    padding-bottom: 0px;
                    margin-bottom: 30px;
                }
            }

            .product-card{
                .product-bild{
                    margin-bottom: 10px;
                }
                & > .main-wrap{
                    padding: 15px;
                    @include border-radius(10px);
                }
                .product-primary-info{
                    .product-title{
                        font-size: 18px;
                        line-height: 30px;
                        margin-bottom: 0px;
                    }
                    .product-excerpt{
                        &.basic-entry{
                            p{
                                font-size: 12px;
                                line-height: 18px;
                            }
                        }
                    }
                }
            }
        }
        // tab-filter-slider-module

        // cover-video-content-module
        .cover-video-content-module{
            .play-pause-trigger{
                .the-trigger{
                    width: 70px;
                    height: 70px;
                    background-size: 20px;
                }
            }

            .ratio{
                min-height: 664px;

                & > video{
                    width: auto;
                    height: 100%;
                }
            }
        }
        // cover-video-content-module

        // product-listing-card-type
        .product-listing-card-type{
            &.type-mobile-slider{
                & > .row{
                    display: block;
                    margin: 0px !important;

                    .my-col{
                        padding: 0px !important;
                    }
                }

                .the-card{
                    padding: 30px 24px 90px 24px;
                }

                .product-bild{
                    img{
                        max-width: 180px;
                    }
                }

                .basic-entry{
                    h1, h2, h3, h4, h5,h6{
                        margin-bottom: 5px;
                    }
                }

                .slick-list{
                    overflow: inherit;
                }

                .slick-track{
                    margin-left: -5px;
                    margin-right: -5px;

                    .slick-slide{
                        padding-left: 5px;
                        padding-right: 5px;
                    }

                }
            }
        }
        // product-listing-card-type
        
        
        

    }
}