// fonts
:root{
    --site-primary-font: 'Work Sans';
    --site-primary-font-regular: normal;
    --site-primary-font-Semibold: 600;
    --site-primary-font-bold: bold;
    --site-secondary-font: 'Brigends Expanded';
    --site-secondary-font-normal: normal;
}










// colors
:root{
    --site-grey-type-1: #E2E8EF;
    --site-grey-type-2: #C9D5E3;
    --site-primary-color: #0B0D48;
    --site-primary-color-light: #4456F2;
    --site-secondary-color: #D2FF75;
}
$site-grey-type-1: #E2E8EF;
$site-grey-type-2: #C9D5E3;
$site-primary-color: #0B0D48;
$site-primary-color-light: #4456F2;
$site-secondary-color: #D2FF75;


// misc
:root{
    --header-height: 102px;
    --header-height-mobile: 60px;
}

// breakppoints
$xs: 0;
$smEnd: 768px;
$sm: 999px;
$md: 1000px;
$lg: 1199px;
$xl: 1200px;
$xxl: 1700px;

