// fonts
:root{
    --site-primary-font: 'Work Sans';
    --site-primary-font-regular: normal;
    --site-primary-font-Semibold: 600;
    --site-primary-font-bold: bold;
    --site-secondary-font: 'Brigends Expanded Regular';
    --site-secondary-font-normal: normal;
}










// colors
:root{
    --site-grey-type-1: #E2E8EF;
    --site-primary-color: #0B0D48;
    --site-primary-color-light: #4456F2;
    --site-secondary-color: #D2FF75;
}


// misc
:root{
    --header-height: 102px;
}

