@font-face {
    font-family: 'Brigends Expanded';
    src: url('BrigendsExpanded.woff2') format('woff2'),
        url('BrigendsExpanded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

